.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.face {
	background: rgb(250, 230, 168);
	height: 500px;
	width: 450px;
	border-radius: 50%;
}

.hair {
	overflow: hidden;
	height: 36%;
	width: 100%;
}

.hair:before {
	content: "";
	display: block;
	background: rgb(95, 30, 25);
	height: 225%;
	width: 100%;
	border-radius: 100%;
}

.hair:after {
	content: "";
	display: block;
	width: 0px;
	height: 0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 50px solid rgb(250, 230, 168);
	margin-top: -60%;
	margin-left: 70%;
}

.eyes {
	height: 23%;
	width: 100%;
}

.eye {
	background: white;
	height: 100%;
	width: 25%;
	border-radius: 100%;
	border-style: solid solid none;
	border-width: 7px 0 0;
	float: left;
}

.eye:first-of-type {
	margin-left: 16%;
}

.eye:last-of-type {
	margin-left: 18%;
}

.eye:before {
	content: "";
	display: block;
	height: 20%;
	width: 85%;
	margin: -20% 10%;
	border-top: 7px solid rgb(75, 25, 21);
	border-radius: 100%;
}

.eye:after {
	content: '\2022';
	font-size: 75px;
	text-align: center;
	display: block;
	background: rgb(105, 20, 0);
	height: 75%;
	width: 65%;
	margin: 35% 15%;
	border-radius: 100%;
	border: 3px solid rgb(55, 15,0);
}

.nose {
	background: rgb(241, 221, 165);
	height: 15%;
	width: 10%;
	margin-top: 12%;
	border-radius: 40%;
}

.nose:before {
	content: '\2022';
	font-size: 52px;
	color: rgb(222, 206, 139);
	text-align: center;
	display: block;
	background: rgb(241, 221, 165);
	height: 50%;
	width: 70%;
	margin: 80% -10%;
	float: left;
	border-radius: 100%;
}

.nose:after {
	content: '\2022';
	font-size: 52px;
	color: rgb(222, 206, 139);
	text-align: center;
	display: block;
	background: rgb(241, 221, 165);
	height: 50%;
	width: 70%;
	margin: 80% 40%;
	border-radius: 100%;
}

.mouth {
	overflow: hidden;
	height: 20%;
	width: 100%;
	margin-top: 37%;
}

.mouth:before {
	content: "";
	display: block;
	background: #5d091a;
	height: 200%;
	width: 50%;
	margin: -25% 25%;
	border-radius: 100%;
}

.mouth:after {
	content: "";
	display: block;
	background: #ee4466;
	height: 48%;
	width: 27%;
	margin: 14.5% 36.5%;
	border-radius: 75%;
}

.back {
	background: rgb(95, 30, 25);
	height: 450px;
	width: 500px;
	border-top-left-radius: 45%;
	border-top-right-radius: 45%;
}

.cheeks {
	height: 17%;
	width: 100%;
	margin-top: 22%;
}

.cheek {
	background: rgb(248, 167, 238);
	height: 100%;
	width: 18%;
	border-radius: 100%;
	float: left;
}

.cheek:first-of-type {
	margin-left: 7%;
}

.cheek:last-of-type {
	margin-left: 50%;
}